In [29]:
with open("input16.txt", "r") as f:
    data = f.read().split("\n")

In [30]:
types = data[:20]
your = data[22]
nearby = data[25:]

In [31]:
dct = {}
for row in types:
    key, value = row.split(": ")
    n1, n2 = value.split(" or ")
    n11, n12 = n1.split("-")
    n21, n22 = n2.split("-")
    dct[key] = [int(n11), int(n12), int(n21), int(n22)]

dct

{'departure location': [26, 724, 743, 964],
 'departure station': [33, 845, 864, 954],
 'departure platform': [26, 472, 482, 967],
 'departure track': [27, 140, 158, 956],
 'departure date': [25, 884, 894, 952],
 'departure time': [37, 924, 941, 949],
 'arrival location': [48, 311, 335, 972],
 'arrival station': [39, 703, 724, 950],
 'arrival platform': [40, 108, 114, 950],
 'arrival track': [30, 101, 108, 967],
 'class': [33, 386, 399, 949],
 'duration': [44, 444, 452, 956],
 'price': [27, 220, 234, 974],
 'route': [42, 774, 790, 959],
 'row': [48, 900, 918, 956],
 'seat': [42, 165, 178, 949],
 'train': [45, 831, 842, 965],
 'type': [49, 522, 548, 974],
 'wagon': [32, 565, 588, 964],
 'zone': [27, 608, 617, 953]}

In [32]:
def check_valid(i):
    if all([not (v[0] <= i <= v[1] or v[2] <= i <= v[3]) for v in dct.values()]):
        return False
    else:
        return True

In [33]:
invalid = []
for row in nearby:
    for i in row.split(","):
        i = int(i)
        if not check_valid(i):
            invalid.append(i)
            break

print(sum(invalid))

18142

In [34]:
# Remove invalid rows
to_drop = []
for n, row in enumerate(nearby):
    for i in row.split(","):
        i = int(i)
        if not check_valid(i):
            to_drop.append(n)
            break

nearby_2 = [nearby[i] for i in range(len(nearby)) if i not in to_drop]
print(len(nearby), len(nearby_2))

236 190

In [35]:
def check_valid_with_col(i, col):
    if not (dct[col][0] <= i <= dct[col][1] or dct[col][2] <= i <= dct[col][3]):
        return False
    else:
        return True

In [36]:
def check_all(col, mapping):
    lst = []
    for i in range(len(dct)):
        if i in mapping.values():
            lst.append(False)
        else:
            all_values = [int(row.split(",")[i]) for row in nearby_2 + [your]]
            lst.append(all([check_valid_with_col(v, col) for v in all_values]))

    if sum(lst) == 1:
        return lst.index(True)
    else:
        return -1

In [37]:
mapping = {}
while len(mapping) != len(dct):
    for col in [c for c in dct if c not in mapping]:
        n = check_all(col, mapping)
        if n >= 0:
            mapping[col] = n
            break

total = 1
pos = your.split(",")
for key, value in mapping.items():
    if key.startswith("departure"):
        total *= int(pos[value])

print(total)

1069784384303